<div class="gifs-div">
    {{#each gifs}}
        <div class="spacing">

            <img src={{this.images.original.url}} alt={{this.url}} class="accordion"/>

            <form action="/add-gif/" method="POST" class="panel">
                <div style="display: none">

                    <input type="text" name="title" value={{this.title}}>
                    <input type="text" name="original_url" value={{this.images.original.url}}>
                    <input type="text" name="fixed_width_url" value={{this.images.fixed_width_downsampled.url}}>
                    <input type="text" name="rating" value={{this.rating}}>  

                </div>

                <div class='logos'>

                    <a href="https://www.facebook.com/sharer/sharer.php?u={{this.images.original.url}}&t={{this.title}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">
                        <img src="/images/SNlogos/facebook.png" alt="Facebook logo" class="logo">
                    </a>
                    <a href="whatsapp://send?text={{this.images.original.url}}" data-action="share/whatsapp/share" onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on whatsapp">
                        <img src="/images/SNlogos/whatsapp.png" alt="Whatsapp logo" class="logo">
                    </a>
                    <a href="https://twitter.com/share?url={{this.images.original.url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Twitter">
                        <img src="/images/SNlogos/twitter.png" alt="Twitter logo" class="logo">
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{this.images.original.url}}&t={{this.title}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Linkedin">
                        <img src="/images/SNlogos/linkedin.png" alt="Linkedin logo" class="logo">
                    </a>
                    <a href={{this.images.original.url}} onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share">
                        <img src="/images/SNlogos/share-violet.png" alt="Share logo" class="logo">
                    </a>

                </div>  

                <button type="submit" class="smbutton">Add to favorites</button>
                <hr>
                
            </form>

        </div>
    {{/each}}
</div>
<div class="arrows">
    <div>
        {{#unless firstPage}}
        <form action="/results/{{prevPage}}" method="POST">
            <input type="text" name="search" value={{body}} style="display: none">
            <button type="submit" class="black"><img src="/images/arrows/Previous-icon.png" alt="Previous page button" class="logo"></button>
        </form>
        {{/unless}}        
    </div>
    <div>
        <form action="/results/{{nextPage}}" method="POST">
            <input type="text" name="search" value={{body}} style="display: none">
            <button type="submit" class="black"><img src="/images/arrows/Next-icon.png" alt="Next page button" class="logo"></button>
        </form>        
    </div>        
</div>








<script src="/javascript/script.js"></script>